<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div>
  <button type="button" data-reflex="click->Example#poke" data-controller="example">Test Button</button>
  <a href="#" data-reflex="click->Example#poke" data-controller="example">Test Link</a>
</div>
